{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "rules": {
    "react/require-default-props": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
